{% extends "base.html" %}
{% load static %}
{% block content %}
    <div id="main">
        <div class="container">
            <h2>Confirm Log Out</h2>
            <p>Are you sure you want to log out?</p>
            <p>This will end your current session.</p>
            <form method="POST" action="{% url 'family_ai_app:confirm_logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>            
        </div>
    </div>
{% endblock %}