{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="main">

    <!-- avatar container-->
    <div class="container">

    </div>

    <!-- Chat Bot Container-->
    <div id="main_content" class="container">
        <h2>Welcome to Family AI!</h2>
        <p>Your one-stop solution for all your family technology needs.</p>
        <h2>How can we help you today?</h2>
        <div>
            <h3>What's going wrong? Type it here</h3>
            <form method="POST" action="{% url 'family_ai_app:home' %}">
                {% csrf_token %}
                <textarea name="problem_description" rows="4" cols="50" placeholder="Describe your problem here..."></textarea>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <!-- Chat Bot Container-->
    <div id="chatbot" class="container">
        <h2>Live Chat</h2>
        <div>
            <input type="text" id="id_message_send_input" />
            {% if user.is_authenticated %}
            <button type="submit" id="id_message_send_button">Send Message</button>
            {% else %}
            <p>You must be logged in to send messages.</p>
            {% endif %}
            <div class="chat__item__container" id="id_chat_item_container">
        </div>
    </div>

</div>



{% endblock %}