.notif-div {
    display: flex;
    flex-direction: column;
    border-bottom: #fff 2px solid;
    border-top: #fff 2px solid;
    padding-top: 10px;
    transition: background-color 0.3s ease;
}

.notif-div.unseen {
    background-color: #7A9AA0; /* darker shade for unseen notifications */
  }

.notif-div:hover {
    background-color: #88ACB2;
}

.notif-icons {
    position: absolute;
    align-self: flex-end;
    justify-self: center;
    padding: 20px;
    font-size: 1.5rem;
}

.notif-icons > i {
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

.notif-icons > i:hover {
    cursor: pointer;
    transform: scale(1.3);
}